.sub-menu-items-modal-items-amount-counter-container {
  max-width: 210px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-menu-items-modal-items-amount-btn {
  width: 64px;
  height: 0px;
  border-radius: 11px;
  border: solid 3px var(--clr-primary-1);
  background-color: var(--clr-primary-2);
  font-size: 3rem;
  font-weight: bold;
  transition: var(--transition);

  margin: auto;
  text-align: center;
  padding-bottom: 3rem;
}

.sub-menu-items-modal-items-amount-btn:hover {
  background-color: var(--clr-grey-9);
  border: solid 3px var(--clr-grey-1);
}

.sub-menu-items-modal-items-amount {
  width: 55px;
  height: 50px;
  border-radius: 11px;
  border: solid 3px var(--clr-primary-1);
  font-size: 2rem;
  margin: auto;
  text-align: center;
  letter-spacing: initial;
}

.sub-menu-items-modal-add-to-order-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-menu-items-modal-add-to-order-btn {
  height: 50px;
  border-radius: 16px;
  border: solid 3px var(--clr-primary-1);
  background-color: var(--clr-primary-2);
  cursor: pointer;
  transition: var(--transition);
  padding: 1rem 3rem;
  width: 80vw;
  font-weight: bolder;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sub-menu-items-modal-add-to-order-btn:hover {
  border: solid 3px var(--clr-primary-3);
  background-color: var(--clr-primary-8);
}

@media screen and (min-width: 500px) {
  .sub-menu-items-modal-items-amount-counter-container {
    max-width: 200px;
    margin: 1rem auto;
  }
  .sub-menu-items-modal-add-to-order-btn-container {
    width: 500px;
  }
  .sub-menu-items-modal-add-to-order-btn {
    width: 380px;
  }
}
