.modal-background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-menu-items-modal-container {
  width: 100vw;
  min-height: 40vh;
  margin-top: auto;
  padding: 15px 0 0;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  background-color: white;

  transition: var(--transition);
}

.sub-menu-items-modal-separator-line {
  width: 90vw;
  height: 2px;
  transform: rotate(0.5deg);
  border: solid 2px #f3f3f3;
  margin: 1rem auto;
}

.sub-menu-items-modal-heading-and-close-btn-container {
  display: flex;
}

.sub-menu-items-modal-heading {
  /* width: 116px; */
  height: 31px;
  margin: 0px 3px 0px 36px;
  font-size: 1.5rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.sub-menu-items-modal-close-btn {
  margin-left: auto;
  padding-right: 40px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 800;
  justify-self: right;
  color: var(--clr-red-dark);
  transition: var(--transition);
}

.sub-menu-items-modal-close-btn:hover {
  color: var(--clr-red-light);
}

.sub-menu-items-modal-info {
  width: 224px;
  height: 39px;
  margin: 5px 21.5px 9px 38.5px;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: normal;
  color: var(--clr-black);
}

.sub-menu-items-modal-primary-options-heading {
  width: 42px;
  height: 27px;
  margin: 0px 7.5px 6px 35.5px;
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--clr-black);
}

.sub-menu-items-modal-primary-options {
  list-style-type: none;
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 0.5rem;
}

.sub-menu-items-modal-primary-options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 37px 1px 29px;
  border-radius: 17px;
  border: solid 3px var(--clr-primary-1);

  height: 47px;
  padding: 1rem;
  padding-top: 1.5rem;
}

.sub-menu-items-modal-primary-options-container-active {
  transition: var(--transition);
  background-color: var(--clr-primary-2);
}

.sub-menu-items-modal-primary-options-container-variant-name {
  margin-right: auto;
  padding-left: 10px;
  font-size: 1.2rem;
  margin-top: 7px;
  letter-spacing: initial;
}

.sub-menu-items-modal-primary-options-container h4 {
  font-size: 1.2rem;
  letter-spacing: initial;
}

.sub-menu-items-modal-secondary-options-heading {
  width: 152px;
  height: 27px;
  margin: 10px 36.5px 9px 35.5px;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.sub-menu-items-modal-secondary-options {
  font-size: 0.5rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  max-width: 300px;
  display: flex;
  margin: auto;
}
.sub-menu-items-modal-secondary-options h3 {
  font-size: 1.1rem;
  letter-spacing: initial;
}

.sub-menu-items-modal-secondary-options input {
  margin-right: 10px;
}

.checkbox {
  margin: auto;
}

@media screen and (min-width: 500px) {
  .sub-menu-items-modal-container {
    width: 500px;
    height: 650px;
    margin-top: 7rem;
  }

  .sub-menu-items-modal-separator-line {
    width: 470px;
    height: 4px;
    transform: rotate(0.5deg);
    border: solid 4px #f3f3f3;
    margin: 1.5rem auto;
  }

  .sub-menu-items-modal-heading {
    font-size: 2rem;
  }

  .sub-menu-items-modal-close-btn {
    font-size: 2rem;
  }

  .sub-menu-items-modal-primary-options-container {
    border-radius: 14px;
    height: 60px;
    padding: 1rem;
    padding-top: 1.5rem;
  }

  .sub-menu-items-modal-primary-options-heading {
    font-size: 25px;
  }

  .sub-menu-items-modal-primary-options {
    width: 500px;
  }

  .sub-menu-items-modal-primary-options-container-variant-name {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .sub-menu-items-modal-primary-options-container h4 {
    font-size: 1.5rem;
  }

  .sub-menu-items-modal-secondary-options {
    font-size: 1rem;
    margin-top: 0.2rem;
    max-width: 430px;
  }

  .sub-menu-items-modal-secondary-options h3 {
    font-size: 1.3rem;
  }
}
