/* =======================

CHEERS MODAL

========================== */

.cheers-modal-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cheers-modal-container {
  width: 400px;
  height: 400px;
  margin: 16px 15px 22px;
  padding: 7px 1px 24px 0;
  border-radius: 21px;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cheers-modal-container h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.cheers-link {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--clr-primary-3);
  transition: var(--transition);
}

.cheers-link:hover {
  color: var(--clr-primary-6);
}
