.confirm-order-modal-background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-order-modal-container {
  width: 90vw;
  height: 400px;
  margin: 16px 15px 22px;
  padding: 7px 1px 24px 0;
  border-radius: 21px;
  background-color: var(--clr-white);
  transition: var(--transition);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirm-order-modal-heading {
  height: 31px;
  margin: 15px 16px 4px 24px;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-top: 0;
}

.like-icon {
  margin-top: 1rem;
  font-size: 8rem;
  color: var(--clr-primary-3);
}

.confirm-order-modal-container p {
  max-width: 300px;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}

.cancel-btn {
  width: 100px;
  /* margin: 18px 15px 0 38px; */
  margin-left: 13px;
  height: 47px;
  padding: 14px 30px 14px 20px;
  border-radius: 17px;
  border: solid 3px var(--clr-primary-1);
  transition: var(--transition);
}

.cancel-btn:hover {
  background-color: var(--clr-red-dark);
  border: solid 3px var(--clr-red-light);
  color: var(--clr-white);
}

.place-order-btn {
  width: 158px;
  height: 47px;
  margin: 18px 21px 0 15px;
  padding: 14px 26px 14px 27px;
  border-radius: 17px;
  border: solid 3px var(--clr-primary-1);
  background-color: var(--clr-primary-2);
  transition: var(--transition);
}

.place-order-btn:hover {
  background-color: var(--clr-primary-3);
  color: var(--clr-white);
  border: solid 3px var(--clr-primary-6);
}

@media screen and (min-width: 500px) {
  .confirm-order-modal-container {
    width: 450px;
    height: 400px;
  }

  .cancel-btn {
    width: 112px;
    padding: 14px 24px 14px 27px;
    margin: 18px 15px 0 38px;
  }
}
