/* =======================

ERROR PAGE

========================== */

.error-page-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10rem;
}

.error-page-link {
  text-decoration: none;
  color: blue;
  font-size: 3rem;
  transition: var(--transition);
}
.error-page-link:hover {
  color: green;
}
