/* =======================

HOME PAGE

========================== */

.home-component-container {
  width: 100vw;
  min-height: 100vh;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.home-component-container:hover {
  box-shadow: var(--dark-shadow);
}

.home-header-title {
  height: 24px;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  margin: auto;
  margin-top: 1rem;
}

.home-header-location {
  width: 300px;
  height: 39px;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.language-selector-container {
  display: flex;
  justify-content: center;
}

.language-selector-buttons {
  color: var(--clr-primary-3);
  background-color: var(--clr-primary-1);
  margin: 10px 3px 0px 3px;
  padding: 5px;
  border-radius: var(--radius);
  border: none;
  transition: var(--transition);
}

.language-selector-buttons:hover {
  background-color: var(--clr-primary-7);
}

@media screen and (min-width: 500px) {
  .home-component-container {
    width: 500px;
    min-height: 800px;
    margin: 4rem auto;
    padding: 0.5rem;
  }
}
