.home-footer {
  background-color: var(--clr-primary-2);

  width: 100vw;
  border-radius: var(--radius);
  margin: auto;
  margin-bottom: 0;
  text-align: center;
  transition: var(--transition);

  position: fixed;
  bottom: 0;
  z-index: 0;
}

.home-footer:hover {
  background-color: var(--clr-primary-6);
}

.home-footer-text-container {
  padding: 0.5rem;
}

.home-footer-text {
  padding: 0.2rem;
  margin: auto;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--clr-black);
  letter-spacing: initial;
}

@media screen and (min-width: 500px) {
  .home-footer {
    width: 400px;
    position: static;
  }
  .home-footer-text {
    font-size: 1.5rem;
  }
}
