.home-menu-categories-btn-container {
  display: flex;
  justify-content: center;
}

.home-menu-categories {
  width: 90px;
  height: 45px;
  padding: 8px 0px 0px 14px;
  border-radius: 17px;
  border: solid 3px var(--clr-primary-1);
  margin: 0.3rem;
  background: var(--clr-white);

  font-size: medium;
  cursor: pointer;
  font-weight: bolder;
  transition: var(--transition);
  color: var(--clr-black);
}

.home-menu-categories:nth-child(2) {
  padding-left: 20px;
}

.home-menu-categories:hover {
  background-color: var(--clr-primary-1);
}

.home-menu-categories-active {
  background-color: var(--clr-primary-1);
  cursor: default;
}

@media screen and (min-width: 500px) {
  .home-menu-categories {
    width: 120px;
    height: 52px;
    padding: 9px 25px 14px 25px;
    font-size: large;
    border: solid 4px var(--clr-primary-1);
  }

  .home-menu-categories:nth-child(2) {
    padding-left: 30px;
  }
}
