.sub-menu-categories-container {
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  display: flex;
  justify-content: center;
}

.sub-menu-category-item {
  background: none;
  color: var(--clr-primary-4);
  border: none;
  font-size: large;
  cursor: pointer;
  outline: inherit;
  margin: 0.7rem 10px;
  font-weight: 800;
  text-transform: capitalize;
  transition: var(--transition);
}

.sub-menu-category-item:hover {
  color: var(--clr-primary-6);
}

.sub-menu-category-item-active {
  color: var(--clr-primary-6);
  border-bottom: solid 3px var(--clr-primary-2);
  cursor: default;
}

@media screen and (min-width: 500px) {
  .sub-menu-category-item-active {
    border-bottom: solid 4px var(--clr-primary-2);
  }
}
