.sub-menu-item-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-menu-item-container {
  display: flex;
  width: 90vw;
  height: 110px;
  padding: 12px 15.5px 7px 15px;
  border-radius: 14px;
  border: solid 3px var(--clr-primary-1);
  margin: 10px;
}

.sub-menu-item-heading {
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.sub-menu-item-text {
  max-width: 250px;
}

.sub-menu-item-price {
  width: 58px;
  height: 27px;
  margin: auto;
  font-family: Gilroy;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

@media screen and (min-width: 500px) {
  .sub-menu-item-container {
    width: 400px;
    border: solid 5px var(--clr-primary-1);
  }
  .sub-menu-item-text {
    max-width: 300px;
  }
  .sub-menu-item-price {
    font-size: 30px;
  }
}
