.checkout-footer {
  width: 100vw;
  text-align: center;
  background-color: var(--clr-primary-2);
  border: none;
  padding-top: 15px;
  font-weight: bolder;
  cursor: pointer;
  outline: inherit;
  font-size: 1rem;
  transition: var(--transition);
  margin: auto;
  font-weight: bolder;
  position: fixed;
  z-index: 0;
  bottom: 0;
}

.checkout-footer h2 {
  font-size: 1rem;
  letter-spacing: initial;
  font-weight: bolder;
}

.checkout-footer:hover {
  background-color: var(--clr-primary-6);
}

@media screen and (min-width: 500px) {
  .checkout-footer {
    width: 375px;
    position: static;
    font-size: 1.5rem;
    border-radius: var(--radius);
    padding: 0.7rem;
    margin-bottom: 1rem;
  }

  .checkout-footer h2 {
    font-size: 1.5rem;
  }
}
