.checkout-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100vw;
  min-height: 100vh;
  padding: 0.5rem;
  margin: 1rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.checkout-page-container:hover {
  box-shadow: var(--dark-shadow);
}

.checkout-heading {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.checkout-header-text {
  max-width: 360px;
  margin-top: 0.4rem;
  margin-left: 16px;
  align-self: flex-start;
}
.checkout-header-text h4 {
  letter-spacing: initial;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.checkout-header-text p {
  max-width: 300px;
}

@media screen and (min-width: 500px) {
  .checkout-page-container {
    width: 500px;
    min-height: 1100px;
  }

  .checkout-heading {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  .checkout-header-text {
    margin-top: 0.8rem;
    margin-left: 1.5rem;
  }

  .checkout-header-text h4 {
    font-size: 1.2rem;
  }
}
