.checkout-info-container {
  width: 87vw;
  display: flex;
  flex-direction: column;
}

.checkout-info-list-main-container {
  display: flex;
  flex-direction: column;
}

.checkout-info-list-main-container h2 {
  font-size: 1.2rem;
  letter-spacing: initial;
  font-weight: bolder;
  margin-top: 13px;
  margin-bottom: 2px;
  border-bottom: 2px solid var(--clr-primary-5);
  width: 110px;
  padding-bottom: 3px;
}

.checkout-info-list-name-and-quantity {
  margin: 6px 0;
}
/* .checkout-info-list-name-and-quantity:first-child {
  margin: 5px 0;
} */

.checkout-info-list-name-and-quantity h3 {
  font-size: 1rem;
  letter-spacing: initial;
  margin: auto;
}

.checkout-info-list-name-and-quantity p {
  margin: auto;
}

.checkout-info-list-price-and-delete-icon {
  display: flex;
  align-items: flex-start;
}

.checkout-info-list-price-and-delete-icon h3 {
  font-size: 1rem;
  letter-spacing: initial;
  font-weight: bolder;
  align-self: start;
}

.trash-icon {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-top: 1.5px;
  color: var(--clr-red-dark);
  transition: var(--transition);
}
.trash-icon:hover {
  color: var(--clr-red-light);
}

.checkout-info-list-container {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
}

.separator-line {
  width: 87vw;
  height: 4px;
  transform: rotate(0.5deg);
  border: solid 2px #f3f3f3;
  margin: 10px auto;
}

.add-notes-label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.add-notes-textarea {
  border-radius: 14px;
  resize: none;
  border: solid 3px #ffd504;
  width: 85vw;
  justify-content: center;
  margin-bottom: 1rem;
}

.table-number {
  font-size: 1.5rem;
  letter-spacing: initial;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.table-number span {
  border: 3px solid var(--clr-primary-1);
  padding: 0.5rem;
  border-radius: 10px;
}

@media screen and (min-width: 500px) {
  .checkout-info-container {
    max-width: 430px;
    margin-top: 1rem;
  }

  .checkout-info-list-main-container {
    margin-bottom: 1rem;
  }

  .checkout-info-list-main-container h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid black;
    width: 150px;
    padding-bottom: 8px;
  }

  .checkout-info-list-name-and-quantity h3 {
    font-size: 1.3rem;
  }

  .checkout-info-list-price-and-delete-icon h3 {
    font-size: 1.3rem;
  }

  .trash-icon {
    font-size: 1.2rem;
    margin-top: 0;
    cursor: pointer;
  }

  .checkout-info-list-container {
    margin-bottom: 0.5rem;
  }

  .separator-line {
    width: 430px;
    border: solid 4px #f3f3f3;
  }

  .add-notes-textarea {
    width: 430px;
    height: 100px;
  }

  .table-number {
    font-size: 2rem;
    margin-top: 2rem;
  }
}
